@{
	Layout = "~/Views/Shared/_LayoutMophyAdmin.cshtml";
	ViewData["Title"] = "<<Put your different title string value here for each page>>";
}
<div class="content-body default-height">
	<div class="container-fluid">
		<div class="page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Shop</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Product Grid</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/1.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Bonorum et Malorum</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$761.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/2.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Striped Dress</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$159.00</del>
								<span class="price">$179</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/3.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">BBow polka-dot</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$357.00</del>
								<span class="price">$189</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/4.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Z Product 360</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$654.00 </del>
								<span class="price">$149</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/5.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Chair Grey</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$369.00</del>
								<span class="price">$159</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/6.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">fox sake withe</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$245.00</del>
								<span class="price">$179</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/7.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Back Bag</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$364.00</del>
								<span class="price">$139</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/1.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">FLARE DRESS</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$548.00</del>
								<span class="price">$169</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/6.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">fox sake withe</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$245.00</del>
								<span class="price">$179</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/7.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Back Bag</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$364.00</del>
								<span class="price">$139</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/6.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">Back Bag</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
								<del class="discount">$364.00</del>
								<span class="price">$139</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-xxl-3 col-lg-4 col-sm-6">
				<div class="card">
					<div class="card-body product-grid-card">
						<div class="new-arrival-product">
							<div class="new-arrivals-img-contnent">
								<img class="img-fluid" src="~/mophy/admin/images/product/1.jpg" alt="">
							</div>
							<div class="new-arrival-content text-center mt-3">
								<h4><a href="@Url.Action("EcomProductDetail","Admin")">FLARE DRESS</a></h4>
								<ul class="star-rating">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
									<li><i class="fa-solid fa-star-half-stroke"></i></li>
								</ul>
								<del class="discount">$548.00</del>
								<span class="price">$169</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Mophy_style
{
	
}

@section Mophy_script
{
	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->
	<script src="~/mophy/admin/vendor/global/global.min.js"></script>
	<script src="~/mophy/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<script src="~/mophy/admin/vendor/highlightjs/highlight.pack.min.js"></script>
	<!-- Circle progress -->

	<script src="~/mophy/admin/js/custom.min.js"></script>
	<script src="~/mophy/admin/js/deznav-init.js"></script>
	
	
}