@{
	Layout = "~/Views/Shared/_LayoutMophyFrontend.cshtml";
	ViewData["Title"] = "<<Put your different title string value here for each page>>";
}
<!-- Banner  -->
<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-primary-linear">
	<div class="move-3">
		<img src="~/mophy/frontend/images/home-banner/move-1.png" alt="">
	</div>
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>Blog Grid</h1>
			<!-- Breadcrumb Row -->
			<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
				<ul class="">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","Frontend")">Home</a></li>
					<li class="breadcrumb-item  text-black active" aria-current="page">Blog Grid</li>
				</ul>
			</nav>
			<!-- Breadcrumb Row End -->
		</div>
	</div>

</div>
<!-- Banner End -->
<!-- Blog Grid Starts -->
<section class="content-inner position-relative">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-md-6  m-b30">
				<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
					<div class="dz-media">
						<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic1.jpg" alt=""></a>
						<span class="date"><a href="javascript:void(0)">14 Feb 2012</a></span>
					</div>
					<div class="dz-info">
						<div class="dz-meta">
							<ul>
								<li class="post-author text-primary">
									<span>
										<i class="fa-solid fa-user"></i>
									</span>
									By Kk Sharma
								</li>
								<li class="post-date text-primary">
									<span>
										<i class="fa-solid fa-message"></i>
									</span>
									24 Comments
								</li>
							</ul>
						</div>
						<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">How can you make cash management easier?</a></h4>
						<p>A wonderful serenity has taken of my entire soul, like these.</p>
						<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">Read More<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6  m-b30">
				<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.2s">
					<div class="dz-media">
						<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic3.jpg" alt=""></a>
						<span class="date"><a href="javascript:void(0)">18 Jun 2020</a></span>
					</div>
					<div class="dz-info">
						<div class="dz-meta">
							<ul>
								<li class="post-author text-primary">
									<span>
										<i class="fa-solid fa-user"></i>
									</span>
									By Kk Sharma
								</li>
								<li class="post-date text-primary">
									<span>
										<i class="fa-solid fa-message"></i>
									</span>
									24 Comments
								</li>
							</ul>
						</div>
						<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">Manage your cash using a cash flow plan</a></h4>
						<p>A wonderful serenity has taken of my entire soul, like these.</p>
						<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">Read More<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6  m-b30">
				<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.4s">
					<div class="dz-media">
						<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic4.jpg" alt=""></a>
						<span class="date"><a href="javascript:void(0)">22 Aug 2018</a></span>
					</div>
					<div class="dz-info">
						<div class="dz-meta">
							<ul>
								<li class="post-author text-primary">
									<span>
										<i class="fa-solid fa-user"></i>
									</span>
									By Kk Sharma
								</li>
								<li class="post-date text-primary">
									<span>
										<i class="fa-solid fa-message"></i>
									</span>
									24 Comments
								</li>
							</ul>
						</div>
						<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">What makes up a company’s cash?</a></h4>
						<p>A wonderful serenity has taken of my entire soul, like these.</p>
						<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">Read More<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6  m-b30">
				<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="0.6s">
					<div class="dz-media">
						<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic5.jpg" alt=""></a>
						<span class="date"><a href="javascript:void(0)">25 Sep 2015</a></span>
					</div>
					<div class="dz-info">
						<div class="dz-meta">
							<ul>
								<li class="post-author text-primary">
									<span>
										<i class="fa-solid fa-user"></i>
									</span>
									By Kk Sharma
								</li>
								<li class="post-date text-primary">
									<span>
										<i class="fa-solid fa-message"></i>
									</span>
									24 Comments
								</li>
							</ul>
						</div>
						<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">Cash management – how do you predict the future?</a></h4>
						<p>A wonderful serenity has taken of my entire soul, like these.</p>
						<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">Read More<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6  m-b30">
				<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="0.8s">
					<div class="dz-media">
						<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic6.jpg" alt=""></a>
						<span class="date"><a href="javascript:void(0)">26 May 2012</a></span>
					</div>
					<div class="dz-info">
						<div class="dz-meta">
							<ul>
								<li class="post-author text-primary">
									<span>
										<i class="fa-solid fa-user"></i>
									</span>
									By Kk Sharma
								</li>
								<li class="post-date text-primary">
									<span>
										<i class="fa-solid fa-message"></i>
									</span>
									24 Comments
								</li>
							</ul>
						</div>
						<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">Why is good cash management so difficult?</a></h4>
						<p>A wonderful serenity has taken of my entire soul, like these.</p>
						<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">Read More<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6  m-b30">
				<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
					<div class="dz-media">
						<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic2.jpg" alt=""></a>
						<span class="date"><a href="javascript:void(0)">18 Mar 2010</a></span>
					</div>
					<div class="dz-info">
						<div class="dz-meta">
							<ul>
								<li class="post-author text-primary">
									<span>
										<i class="fa-solid fa-user"></i>
									</span>
									By Kk Sharma
								</li>
								<li class="post-date text-primary">
									<span>
										<i class="fa-solid fa-message"></i>
									</span>
									24 Comments
								</li>
							</ul>
						</div>
						<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">Cash management – who does what?</a></h4>
						<p>A wonderful serenity has taken of my entire soul, like these.</p>
						<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">Read More <i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
				<nav aria-label="Blog Pagination">
					<ul class="pagination style-1 text-center  wow fadeInUp" data-wow-delay="0.8s">
						<li class="page-item"><a class="page-link prev" href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a></li>
						<li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
						<li class="page-item"><a class="page-link next" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- blog grid code starts from here -->
@section Mophy_script
	{
	<script src="~/mophy/frontend/js/anm.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/mophy/frontend/js/dz.carousel.js"></script><!-- OWL SLIDER -->
	<script src="~/mophy/frontend/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
}