@{
	Layout = "~/Views/Shared/_LayoutMophyFrontend.cshtml";
	ViewData["Title"] = "<<Put your different title string value here for each page>>";
}
<!-- Banner  -->
<div class="dz-bnr-inr dz-bnr-inr-sm text-center position-relative overlay-primary-linear">
	<div class="move-3">
		<img src="~/mophy/frontend/images/home-banner/move-1.png" alt="">
	</div>
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>Blog List</h1>
			<!-- Breadcrumb Row -->
			<nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
				<ul class="">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","Frontend")">Home</a></li>
					<li class="breadcrumb-item  text-black active" aria-current="page">Blog List</li>
				</ul>
			</nav>
			<!-- Breadcrumb Row End -->
		</div>
	</div>

</div>
<!-- Banner End -->
<!-- blog-list section start -->
<section class="content-inner bg-white position-relative">
	<div class="container">
		<div class="row ">
			<div class="col-xl-8 col-lg-8">
				<div class="row">
					<div class="col-lg-12 ">
						<div class="dz-card style-1 blog-half overlay-shine wow fadeInUp" data-wow-delay="1.0s">
							<div class="dz-media">
								<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic1.jpg" alt=""></a>
							</div>
							<div class="dz-info">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma
										</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
											24 Comments
										</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">How can you make cash management easier?</a></h4>
								<p>Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">View Post<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="dz-card style-1 blog-half overlay-shine wow fadeInUp" data-wow-delay="1.2s">
							<div class="dz-media">
								<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic4.jpg" alt=""></a>
							</div>
							<div class="dz-info">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma
										</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
											24 Comments
										</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">Manage your cash using a cash flow plan</a></h4>
								<p>Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">View Post<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 ">
						<div class="dz-card style-1 blog-half overlay-shine wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic3.jpg" alt=""></a>
							</div>
							<div class="dz-info">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma
										</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
											24 Comments
										</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">What makes up a company’s cash?</a></h4>
								<p>Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">View Post<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 ">
						<div class="dz-card style-1 blog-half overlay-shine  wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-media">
								<a href="@Url.Action("BlogDetails","Frontend")"><img src="~/mophy/frontend/images/blog/pic5.jpg" alt=""></a>
							</div>
							<div class="dz-info">
								<div class="dz-meta">
									<ul>
										<li class="post-author text-primary">
											<span>
												<i class="fa-solid fa-user"></i>
											</span>
											By Kk Sharma
										</li>
										<li class="post-date text-primary">
											<span>
												<i class="fa-solid fa-message"></i>
											</span>
											24 Comments
										</li>
									</ul>
								</div>
								<h4 class="dz-title"><a href="@Url.Action("BlogDetails","Frontend")">Cash management – how do you predict the future?</a></h4>
								<p>Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="@Url.Action("ContactUs","Frontend")" class="btn-link">View Post<i class="fa-solid fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
						<nav aria-label="Blog Pagination">
							<ul class="pagination style-2 text-center wow fadeInUp" data-wow-delay="0.8s">
								<li class="page-item"><a class="page-link prev" href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a></li>
								<li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
								<li class="page-item"><a class="page-link next" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<aside class="side-bar sticky-top right">
					<div class="widget">
						<div class="widget-title">
							<h4 class="title">Search</h4>
						</div>
						<div class="search-bx">
							<form role="search" method="post">
								<div class="input-group">
									<input name="text" class="form-control style-1" placeholder="Search.." type="text">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-primary sharp radius-no"><i class="fa-solid fa-magnifying-glass scale3"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>

					<div class="widget widget_categories">
						<div class="widget-title">
							<h4 class="title">Categories</h4>
						</div>
						<ul>
							<li class="cat-item"><a href="#">business(10)</a></li>
							<li class="cat-item"><a href="#">Case Study (13)</a></li>
							<li class="cat-item"><a href="#">Insights (9)</a></li>
							<li class="cat-item"><a href="#">World (3)</a></li>
							<li class="cat-item"><a href="#">Tax Solutions (12)</a></li>
							<li class="cat-item"><a href="#">Creative (6)</a></li>
						</ul>
					</div>

					<div class="widget recent-posts-entry">
						<div class="widget-title">
							<h4 class="title">Recent Post</h4>
						</div>
						<div class="widget-post-bx">
							<div class="widget-post clearfix">
								<div class="dz-media">
									<img src="~/mophy/frontend/images/blog/small/pic1.jpg" alt="">
								</div>
								<div class="dz-info">
									<h6 class="title"><a href="@Url.Action("BlogDetails","Frontend")">How can you make cash management easier?</a></h6>
									<div class="dz-meta">
										<ul>
											<li class="post-date"><a href="javascript:void(0);"> 17 May 2022</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="widget-post clearfix">
								<div class="dz-media">
									<img src="~/mophy/frontend/images/blog/small/pic2.jpg" alt="">
								</div>
								<div class="dz-info">
									<h6 class="title"><a href="@Url.Action("BlogDetails","Frontend")">Manage your cash using a cash flow plan</a></h6>
									<div class="dz-meta">
										<ul>
											<li class="post-date"><a href="javascript:void(0);"> 07 Jan, 2022</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="widget-post clearfix">
								<div class="dz-media">
									<img src="~/mophy/frontend/images/blog/small/pic3.jpg" alt="">
								</div>
								<div class="dz-info">
									<h6 class="title"><a href="@Url.Action("BlogDetails","Frontend")">What makes up a company’s cash?</a></h6>
									<div class="dz-meta">
										<ul>
											<li class="post-date"><a href="javascript:void(0);"> 25 Aug, 2022</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="widget widget_tag_cloud">
						<div class="widget-title">
							<h4 class="title">Popular Tags</h4>
						</div>
						<div class="tagcloud">
							<a href="javascript:void(0);">Business</a>
							<a href="javascript:void(0);">Corporate</a>
							<a href="javascript:void(0);">Blog</a>
							<a href="javascript:void(0);">Marketing</a>
							<a href="javascript:void(0);">Creative</a>
							<a href="javascript:void(0);">Web</a>
							<a href="javascript:void(0);">Workers</a>
							<a href="javascript:void(0);">Modern</a>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>
<!-- blog-list section start -->
@section Mophy_script
	{
	<script src="~/mophy/frontend/js/dz.carousel.js"></script><!-- OWL SLIDER -->
	<script src="~/mophy/frontend/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
}